@charset "UTF-8";
#chat_div{
		z-index : 10;
		display: none; 
		position : fixed;
		background-color : white;
		border : 1px solid;
		left : 5rem;
		width: 60rem; 
		height: 30rem;
		top : 17rem;
	}
	#send_div{
		z-index : 10;
		display: none; 
		position : fixed;
		background-color : white;
		border : 1px solid;
		left : 5rem;
		width: 60rem; 
		top : 47rem;
	}
	#send_btn{
		width : 10rem;
		float : right;
		margin-right: 0.5rem
	}
	#message{
		width :45rem;
		margin-left : 0.5rem;
		border-radius: 30px;
	}

.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}



#bot_div {
	z-index: 10;
	display: none;
	position: fixed;
	background-color: white;
	border: 1px solid;
	left: 5rem;
	width: 55rem;
	height: 30rem;
	top: 22rem;
	overflow : scroll;
}

#bot_send_div {
	z-index: 10;
	display: none;
	position: fixed;
	background-color: white;
	border: 1px solid;
	left: 5rem;
	width: 55rem;
	top: 52rem;
}

#bot_send_btn {
	width: 57px;
	float: right;
}


#bot_message {
	width: 435px;
	margin-right: 6px;
}

.arrow_box {
	position: relative;
	background: #bbd5bf;
	border: 4px solid #f0f55d;
	font-size : 10pt;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(213, 148, 75, 0);
	border-right-color: #bbd5bf;
	border-width: 30px;
	margin-top: -54px;
}
.arrow_box:before {
	border-color: rgba(240, 245, 93, 0);
	border-right-color: #f0f55d;
	border-width: 36px;
	margin-top: -60px;
}


.arrow_box_right {
	position: relative;
	background: #b5d3d5;
	border: 4px solid #c2e1f5;
}
.arrow_box_right:after, .arrow_box_right:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_right:after {
	border-color: rgba(181, 211, 213, 0);
	border-left-color: #b5d3d5;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box_right:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 36px;
	margin-top: -36px;
}