<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.khfinal.mvc.member.dto.MemberDto" alias = "memberdto"/>
		<typeAlias type="com.khfinal.mvc.free.dto.FreeboardDto" alias="FreeboardDto"/>

	</typeAliases>

	<!-- resource : src/main/resources -->
	<mappers>
		<mapper resource="/sqls/MemberMapper.xml"/>
		<mapper resource="/sqls/FreeboardMapper.xml"/>
	</mappers>

</configuration>
