<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.khfinal.mvc.member.dto.MemberDto" alias = "memberdto"/>
		<typeAlias type="com.khfinal.mvc.free.dto.FreeboardDto" alias="FreeboardDto"/>
		<typeAlias type="com.khfinal.mvc.notice.dto.NoticeDto" alias="NoticeDto"/>
		<typeAlias type="com.khfinal.mvc.dosirak.dto.DosirakDto" alias="DosirakDto"/>
	</typeAliases>
	<!-- resource : src/main/resources -->
	<mappers>
		<mapper resource="/sqls/MemberMapper.xml"/>
		<mapper resource="/sqls/FreeboardMapper.xml"/>
		<mapper resource="/sqls/NoticeboardMapper.xml"/>
		<mapper resource="/sqls/DosirakMapper.xml"/>
	</mappers>

</configuration>
