<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="membermapper">
	
	<select id = "login" parameterType = "map" resultType = "memberdto">
		SELECT * FROM MEMBER WHERE MEMBER_ID = #{id} AND MEMBER_PW = #{pw}
	</select>
	
	<insert id="insert" parameterType="memberdto">
		INSERT INTO MEMBER 
		VALUES(#{member_id},#{member_pw},#{member_name},#{member_email},#{member_phone},#{member_address},#{member_subway},'Y','USER',SYSDATE)
	</insert>
	
	<select id="idChk" parameterType="map" resultType="memberdto">
		SELECT MEMBER_ID 
		FROM MEMBER
		WHERE MEMBER_ID=#{member_id} AND MEMBER_ENABLED='Y'
	</select>
	
	<select id="emailChk" parameterType="map" resultType="memberdto">
		SELECT MEMBER_EMAIL
		FROM MEMBER
		WHERE MEMBER_EMAIL = #{member_email}
	</select>
</mapper>
