<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
	version="3.1">
	
	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/appServlet/applicationContext.xml
			/WEB-INF/spring/appServlet/security-context.xml
		</param-value>
	</context-param>
	
	<!-- 시작페이지 설정 -->
 	<welcome-file-list>
		<welcome-file>startpage.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 타이틀설정 -->
	<display-name>KHFinalProject</display-name>
	<description>Team3 spring project</description>
	
	
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring/appServlet/servlet-context.xml
				/WEB-INF/spring/appServlet/aop-context.xml	
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- WebSocket 채팅 필터 -->
	<filter>
        <filter-name>httpPutFormFilter</filter-name>
        <filter-class>org.springframework.web.filter.HttpPutFormContentFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
	
	<!-- 한글 인코딩 -->
	<filter>
		<filter-name>enc</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>enc</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Spring Security -->
	<filter>
	   <filter-name>springSecurityFilterChain</filter-name>
	   <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter-mapping>
	   <filter-name>springSecurityFilterChain</filter-name>
	   <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- MultipartFilter -->	
	 <filter>
		<display-name>springMultipartFilter</display-name>
		<filter-name>springMultipartFilter</filter-name>
	<filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springMultipartFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	
	<!-- log filter -->
	<filter>
		<filter-name>logFilter</filter-name>
		<filter-class>com.khfinal.mvc.common.filter.LogFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>logFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- error-page 설정 -->
	<error-page>
	    <exception-type>java.lang.Throwable</exception-type>
	    <location>/common/errorpage/error.do</location>
	</error-page>
	
	<error-page>
	    <exception-type>java.lang.Exception</exception-type>
	    <location>/common/errorpage/error.do</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/common/errorpage/error.do</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/common/errorpage/error.do</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/common/errorpage/error.do</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/common/errorpage/error.do</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/common/errorpage/error.do</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/common/errorpage/error.do</location>
	</error-page>

</web-app>
